@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    background:white}
}
li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before{
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  bottom: -5px;
  color: #2a68ff;
}

.icon{
  cursor: pointer;
}

.card{
  background: linear-gradient(to right, rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
}
